@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #333;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper #navbar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #007396;
    padding: 15px 0;
}

#logo{
    color: white;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    padding-right: 10px;
    
}

#logo a{
    text-decoration: none;
    color: white;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #007396;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
    cursor: pointer;
}


.fa-java{
    font-size: 45px;
}

.wrapper #navbar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper #navbar ul li:hover{
    background: #0489b1ce;
    border-left: 4px solid #963000;
}

#navbar{
    border-right: 1px solid rgba(0,0,0,0.05);
}

#navbar ul{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: white;
    display: block;
    font-family: 'Fjalla One', sans-serif;
}

#main-doc{
    width: 100%;
    margin-left: 300px;
    border-left: 1px solid rgba(255,255,255,0.05);
}



.div-code{
    background: #2c3e50;
    border-radius: 3px;
    margin: 20px -20px 20px 20px;
    width: 93%;
    padding: 2% 20% 2% 5%;
}

pre {
    margin-left: -100px;
}

code {
    color: rgb(219, 130, 4);

}

.secondary-heading{
    font-size: 35px;
    color: black;
    padding: 30px;
    font-family: 'Fjalla One', sans-serif;
}

.paragraph{
    font-size: 18px;
    padding: 0px 20px 20px 30px;
    color: #293746;
    line-height: 1.5;
}

.small-heading {
    font-size: 23px;
    font-weight: 500;
    font-family: 'Fjalla One', sans-serif;
    padding: 30px;
    color: #1e2833;
}

.smaller-heading {
    font-size: 20px;
    font-weight: 500;
    padding: 30px;
    color: #1e2833;
    font-family: 'Fjalla One', sans-serif;
}

.ul-list{
    font-size: 20px;
    padding: 0px 0px 30px 75px;
    color: #2c3e50;
}

.ul-list li{
    padding: 10px 0px;
    line-height: 1.6;
}

.div-table{
    overflow-x: auto;
    margin-right: 30px;
}

table, th, td{
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 30px;
}

th {
    background-color:#007396;
    color: white;
    font-weight: 100;
}

tr:nth-child(even) {
    background-color: #FFF5EE;
}

th, td{
    padding: 15px;
}

#Reference ul li a{
    color: black;
}

footer {
    text-align: center;
    padding: 15px;
}

.footer-link{
    color: black;
}


/*Media Queries*/
@media only screen and (max-width:768px){

    .wrapper{
        flex-direction: column;
    }

    .wrapper #navbar{
        position: relative;
        position: sticky;
        top: 0;
        width: 100%;
        background: #0073969f;
    }

    ul {
        display: none;
    }

    #IDEs-list {
        display: block;
    }

    #Explain-list{
        display: block;
        margin-left: -25px;
    }

    #Reference-list{
        display: block;
    }

    .toggle {
        display: block;
        margin-top: -80px;
        background: #00739605;
    }

    .active{
        display: block;
    }

    #navbar ul li{
        text-align: center;
    }

    #main-doc{
        margin: auto;
        overflow: hidden;
    }

    .main-section{
        padding-top: 16%;
    }

    .paragraph{
        padding: 30px 0px 30px 10px;
    }

    .secondary-heading{
        text-align: center;
    }

    .div-code{
        width: 90%;
    }

    code {
        font-size:12px;
    }

}
